<form class="ui form" id="babbleform" action="/babble" method="POST" enctype="multipart/form-data">
    <div class="ui fluid action input">
        <img id="preview" src="">
        <input type="text" name="text" placeholder="What are you thinking about?">
        <input type="file" name="image" id="fileinput" accept="image/*" style="display:none">
        <div class="ui icon button" id="camerabutton" data-tooltip="Add a picture to your babble" data-inverted=""><i
                class="camera icon"></i></div>
        <button class="ui teal submit button">Babble</button>
    </div>
</form>