<div class="ui basic fluid center aligned container">
    <button id="bulkDeleteButton" class="ui brown basic fluid icon button">
        <i class="configure icon"></i>
        Bulk Remove
    </button>

    <div id="bulkDeleteControls" class="ui two buttons" style="display:none;">
        <div id="confirmBulkDeleteButton" class="ui basic red button">Delete</div>
        <div id="cancelBulkDeleteButton" class="ui basic grey button">Cancel</div>
    </div>
</div>