<script src="/js/delete.js"></script>
<div class="ui small basic modal {{#if multiple}}multi{{/if}}">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Delete {{#if multiple}}all{{else}}this{{/if}} {{item}}?
    </div>
    <div class="content">
        <p>Are you sure you want to delete {{#if multiple}}all{{else}}this{{/if}} {{item}}?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>