<nav class="ui borderless text menu">
  <div class="item">
    <img src="http://semantic-ui.com/images/logo.png">
  </div>
  <a class="item active">Home</a>
  <a class="item">Messages</a>
  <a class="item">Friends</a>
  <div class="right menu">
    <div class="item">
      <div class="ui primary basic teal button">Sign up</div>
    </div>
    <div class="item">
      <div class="ui basic grey button">Log-in</div>
    </div>
  </div>
</nav>