<div class="ui container">
  <div class="ui text menu" id="mainmenu">
    <a class="item" href="/">
      <img src="images/logo_64.png">
    </a>
    <a class="item active" href="/">Home</a>
    <a class="item">Messages</a>
    <a class="item">Friends</a>
    <a class="item" href="/about">About</a>
    <div class="right menu">
      <div class="item">
        <a id="login" class="ui basic grey button" href="/logout">Log out</a>
      </div>
    </div>
  </div>
</div>