{{> mainmenu }}
<div class="displace20">
  <div class="ui stackable grid">
    <div class="ui centered six wide column">
      <h1 class="ui header">Log in to Babbler.</h1>
      <form class="ui form">
        <div class="field">
          <input type="text" name="email" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="Password">
        </div>
        <button class="ui fluid teal button" type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>