{{> mainmenu }}
<div id="bg-container"></div>
<div class="displace20">
  <h1 class="ui centered header" id="landingheader">Welcome to Babbler.</h1>
  <section id="landingtext" class="ui centered header">Find out what your friends have to say about you.</section>
  <section id="landingtext" class="ui centered header">Get live updates on what Kanye West is doing, instantly.</section>
  <section id="landingtext" class="ui centered header">Watch coup d'états unfold from the comfort of your desk chair.</section>
</div>