{{> usermenu _id="settings"}}
<div class="displace20">
    <div class="ui stackable relaxed grid container">
        <div class="ui five wide column">
            {{#with user}}
                {{> usercard}}
            {{/with}}
        </div>
        <div class="ui five wide column">
            <form class="ui form segment" action="/settings" method="POST">
                <h3 class="ui header">About me</h3>
                <div class="field">
                    <label>Name</label>
                    <input value="{{user.name}}" type="text" name="name">
                </div>
                <div class="field">
                    <label>Bio</label>
                    <input value="{{user.bio}}" type="text" name="bio">
                </div>
                <button class="ui teal submit button">Save</button>
            </form>
        </div>
        <div class="ui five wide column">
            <form class="ui form segment" action="/settings" method="POST">
                <h3 class="ui header">Account details</h3>
                <div class="field">
                    <label>Email</label>
                    <input value="{{user.email}}" type="text" name="email">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input value="{{user.password}}" type="password" name="password">
                </div>
                <button class="ui teal submit button">Save</button>
            </form>
        </div>
    </div>
</div>
