{{> usermenu }}
<script src="/js/follow.js"></script>
<div class="identity" id="{{loggedInUser._id}}" style="display:none;"></div>
{{> deletemodal item="user"}}
<div class="ui container">
    <div class="ui centered cards">
        {{#each users}}
            {{> usercard}}
        {{/each}}
    </div>
</div>