{{> usermenu }}
<script src="js/upload.js"></script>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="three wide column">
            {{#with loggedInUser}}
                {{> usercard}}
            {{/with}}
        </div>
        <div class="ten wide column">
            <div class="ui row">
                {{> babbleform}}
            </div>
            <div class="ui row">
                {{> babbles}}
            </div>
        </div>
    </div>
</div>