{{> usermenu }}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="three wide column">
            {{#with user}}
                {{> usercard}}
            {{/with}}
        </div>
        <div class="ten wide column">
            {{> babbles}}
        </div>
    </div>
</div>