{{> usermenu }}
<script src="js/upload.js"></script>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
                </div>
                <div class="content">
                    <a class="header">{{user.name}}</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        {{user.bio}}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
        </div>
        <div class="ten wide column">
            <div class="ui row">
                {{> babbleform}}
            </div>
            <div class="ui row">
                {{> babbles}}
            </div>
        </div>
    </div>
</div>