{{> usermenu }}
<div class="ui container">
    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
                </div>
                <div class="content">
                    <a class="header">{{user.name}}</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        {{user.bio}}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
        </div>
        <div class="ten wide column">
            <div class="ui row">
                <form class="ui form" id="babbleform" action="/babble" method="POST">
                    <div class="ui fluid action input">
                        <input type="text" name="content" placeholder="What are you thinking about?">
                        <div class="ui icon button" data-tooltip="Add a picture to your babble" data-inverted=""><i
                                class="camera icon"></i></div>
                        <button class="ui teal submit button">Babble</button>
                    </div>
                </form>
            </div>
            <div class="ui row">
                {{> babbles}}
            </div>
        </div>
    </div>
</div>